{% extends 'sidebars/projectSidebar.html' %}

{% block content %}

<a class="btn btn-secondary text-light mb-3" href="{{ url_for('projects.allProjects') }}">Back</a>

<div class="row">

    <div class="col-xl-8 col-md-12">
				
        
        <div class="card card-default">
          <div class="card-header card-header-border-bottom justify-content-between">
            <h2>{{ project['title'] }}</h2>
            {% if g.user['security_level'] == 3 %}
            <a class="btn btn-dark ml-4" href="{{ url_for('projects.updateProject', project_id=project['project_id']) }}">Update/Delete</a>
            {% endif %}
          </div>
          <div class="card-body" >
            <p class="mb-4 text-dark">{{ project['description'] }}</p>
          </div>
        </div>

        <div class="card card-default">
			<div class="card-header card-header-border-bottom justify-content-between">
				<h2>Assigned Team Members</h2>
        <a class="btn btn-dark ml-4" href="{{ url_for('teams.updateProjectTeam', project_id=project['project_id']) }}">Add/Remove</a>
			</div>

			<div class="card-body">
				
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Team Member</th>
							<th scope="col">Security Level</th>
						</tr>
					</thead>

					<tbody>
            {% for user in project_users %}
						<tr id="member{{ loop.index0 }}" style="display:none">
              <td>{{ user['username'] }}</td>
              <td>{{ user['security_level'] }}</td>
						</tr>
            {% endfor %}
					</tbody>
				</table>
        <div class="container d-flex justify-content-end align-items-center" id="memberControl">

        </div>
			</div>
		</div>
      
      </div>

    <div class="col-xl-4 col-md-12">
				
        <!-- Doughnut Chart -->
        <div class="card card-default">
          <div class="card-header justify-content-center">
            <h2>Tickets: {{ ticketCount }}</h2>
          </div>
          <div class="card-body" >
            <canvas id="projectTicketChart" ></canvas>
          </div>
          <div class="card-footer d-flex bg-white justify-content-center align-items-center p-0">
            <div class="">
                <ul class="d-flex flex-column justify-content-center align-items-center">
                  <li class="pt-2"><i class="mdi mdi-checkbox-blank-circle mr-2" style="color: #ff2828"></i>High Priority</li>
                  <li class="p-1"><i class="mdi mdi-checkbox-blank-circle mr-2" style="color: #f7f443 "></i>Medium Priority</li>
                  <li class="pb-2"><i class="mdi mdi-checkbox-blank-circle mr-2" style="color: #4cff5b"></i>Low Priority</li>
                </ul>
              </div>
          </div>
        </div>
      
      </div>


</div>

<div class="row">
    <div class="col-12">
      
                <!-- Recent Order Table -->
                <div class="card card-table-border-none recent-orders" id="recent-orders">
                  <div class="card-header justify-content-between">
                    <h2>Active Tickets</h2>
                    <a class="btn btn-dark" href="{{ url_for('tickets.createTicket', project_id=project['project_id'])}}">Create New</a>
                  </div>
                  <div class="card-body pt-0 pb-5">
                    <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th class="d-none d-lg-table-cell">Assigned Member</th>
                          <th>Priority</th>
                          <th class="d-none d-lg-table-cell">Created</th>
                          <th class="d-none d-lg-table-cell">Created By</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for ticket in tickets %}
                        <tr id="ticket{{ loop.index0 }}" style="display:none">
                          <td>
                            <a class="text-dark" href="{{ url_for('tickets.viewTicket', ticket_id=ticket['ticket_id'] )}}">{{ ticket['title'] }}</a>
                          </td>
                          <td class="d-none d-lg-table-cell text-dark">{{ ticket['assigned_username'] }}</td>
                          <td >
                            {% set priority = ticket['priority'] %}
                            {% if priority == 'High' %}
                            <span class="badge badge-danger">{{ priority }}</span>
                            {% elif priority == 'Medium' %}
                            <span class="badge badge-warning">{{ priority }}</span>
                            {% else %}
                            <span class="badge badge-success">{{ priority }}</span>
                            {% endif %}
                          </td>
                          <td class="d-none d-lg-table-cell">{{ ticket['created'] }}</td>
                          <td class="d-none d-lg-table-cell">{{ ticket['author_username'] }}</td>
                          <td class="text-right">
                            <div class="dropdown show d-inline-block widget-dropdown">
                              <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                <li class="dropdown-item">
                                  <a href="{{ url_for('tickets.viewTicket', ticket_id=ticket['ticket_id'] )}}">View</a>
                                </li>
                                <li class="dropdown-item">
                                  <a href="{{ url_for('tickets.updateTicket', project_id=ticket['project_id'], ticket_id=ticket['ticket_id']) }}">Edit</a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <div class="container d-flex justify-content-end align-items-center" id="ticketControl">

                    </div>
                  </div>
                </div>
  
    </div>
  </div>

  <div style="display: none;" id="donutData">{{ donutData }}</div>

<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
<script>
  let ticketPagination = new Pagination({{ ticketCount }}, 5, "ticket");
  let memberPagination = new Pagination({{ memberCount }}, 5, "member");
  
</script>


{% endblock %}