{% extends 'bases/landingBase.html' %}


{% block formContent %}
<div class="formHeader">
    <h1>Demo Login</h1>
</div>

<div class="demoContainer">
    <div class="demoImgContainer">
        <img src="{{ url_for('static', filename='img/adminImage.png') }}" alt="" class="demoImg">
    </div>
    <form method="post" class="auth_form">
        <input type="hidden" class="inputText" name="username" id="username" value="Admin Demo">
        <input type="hidden" class="inputText" type="password" name="password" id="password" value="1234ABCD56">
        <input class="inputSubmitRed" type="submit" value="Admin Login">
    </form>
</div>
<div class="demoContainer">
    <div class="demoImgContainer">
        <img src="{{ url_for('static', filename='img/managerImage.png') }}" alt="" class="demoImg">
    </div>
    <form method="post" class="auth_form">
        <input type="hidden" class="inputText" name="username" id="username" value="Manager Demo">
        <input type="hidden" class="inputText" type="password" name="password" id="password" value="1234ABCD56">
        <input class="inputSubmitBlue" type="submit" value="Manager Login">
    </form>
</div>
<div class="demoContainer">
    <div class="demoImgContainer">
        <img src="{{ url_for('static', filename='img/developerImage.png') }}" alt="" class="demoImg">
    </div>
    <form method="post" class="auth_form">
        <input type="hidden" class="inputText" name="username" id="username" value="Developer Demo">
        <input type="hidden" class="inputText" type="password" name="password" id="password" value="1234ABCD56">
        <input class="inputSubmitGrey" type="submit" value="Developer Login">
    </form>
</div>




{% endblock %}