{% extends 'sidebars/teamSidebar.html' %}

{% block content %}

<a class="btn btn-secondary text-light mb-3" href="{{ url_for('projects.viewProject', project_id=project['project_id']) }}">Back</a>

<div class="row">

    <div class="col-xl-8 col-md-12">

        <div class="card card-default">
            <div class="card-header card-header-border-bottom justify-content-between">
                <h2>Manage Team</h2>
                <h2>{{ project['title'] }}</h2>
            </div>

            <div class="card-body">

                <table class="table">
                    <thead>
                        <div class="d-flex justify-content-between">
                            <h4 class="text-danger mb-3 mt-4">Current Members</h4>
                            <div style="max-width:250px;" id="assignedSearchControl">
    
                            </div>
                        </div>
                        <tr>
                            <th scope="col" class="text-secondary">username</th>
                            <th scope="col" class="text-secondary">Security Level</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for user in assigned_users %}
                        <tr id="assigned{{ loop.index0 }}">
                            <td>{{ user['username'] }}</td>
                            <td class="text-dark">{{ user['security_level'] }}</td>
                            <td><a class="btn btn-danger btn-sm text-light" href="{{ url_for('teams.removeTeamMember', project_id=project['project_id'], user_id=user['user_id']) }}">Remove</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="container d-flex justify-content-end align-items-center" id="assignedPageControl">

                </div>
                <table class="table">
                    <thead>
                        <div class="d-flex justify-content-between">
                            <h4 class="text-danger mb-3 mt-4">Non Members</h4>
                            <div style="max-width:250px;" id="unassignedSearchControl">
    
                            </div>
                        </div>
                        
                        <tr>
                            <th scope="col" class="text-secondary">username</th>
                            <th scope="col" class="text-secondary">Security Level</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for user in unassigned_users %}
                        <tr id="unassigned{{ loop.index0 }}">
                            <td>{{ user['username'] }}</td>
                            <td class="text-dark">{{ user['security_level'] }}</td>
                            <td><a class="btn btn-success btn-sm text-light" href="{{ url_for('teams.addTeamMember', project_id=project['project_id'], user_id=user['user_id']) }}">Add</a></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            
                        </tr>
                    </tbody>
                    
                    
                </table>
                <div class="container d-flex justify-content-end align-items-center" id="unassignedPageControl">

                </div>
            </div>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='js/SearchPagination.js') }}"></script>
<script>
    let unassignedSearchPagination = new SearchPagination({{ unassignedCount }}, 10, "unassigned");
    let assignedSearchPagination = new SearchPagination({{ assignedCount }}, 10, "assigned");
</script>

{% endblock %}